@model List<EntityLayer.Entities.Category>
<div class="col-sm-3" style="margin-top:30px">
    <div class="left-sidebar">
        <div class="brands_products">
            <!--brands_products-->
            <h2>KATEGORİLER</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="@Url.Action("Index", "Home", new { categoryId = (int?)null })">
                            Tüm Kategoriler
                            @if (ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index")
                            {
                                <span class="pull-right">(@Model.Sum(item => item.Products.Count))</span>
                            }
                        </a>
                    </li>
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home", new { categoryId = item.Id })">
                                @item.Name
                                @if (ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index")
                                {
                                    <span class="pull-right">(@item.Products.Count)</span>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div><!--/brands_products-->
    </div>
</div>
